<nav>
    <% if(message != "") { %>
        <%- include('./alerts') %>
    <% } %>

   <input type="checkbox" id="check">
   <label for="check" class="checkbtn">
       <i class="fas fa-bars"></i>
   </label>

   <ul>

        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>

       <li><h1> <a href="/">  Home </a></h1></li>
       <li> <a href="/lista"> Meeting Topics </a></li>

   </ul>

</nav>
